.input-group {
  margin-bottom: 5px;
  margin-top: 5px;
  display: flex;
  align-items: center;
}

label {
  width: 100px;
  font-weight: bold;
}

input[type="number"] {
  width: 100px;
  padding: 5px;
  margin-left: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="number"]:focus {
  border-color: #007bff;
  outline: none;
}
